:root{
  --my-font : "Poppins", sans-serif;
}

*{
  font-family: var(--my-font);
}

.inp-filed{
  box-shadow: 0 0 15px 3px #6995e9;
  border: none;
  outline: none;
  border-radius: 10px;
}

.inp-filed::placeholder{
  text-transform: capitalize;
}

.wr-count-btns{
  background-color: #1717d1;
  border: none;
  border-radius: 10px;
  color: white;
  text-transform: capitalize;
  padding: 10px;
}

.theme-btn{
  font-size: 15px;
  border: none;
  border-radius: 10px;
  color: white;
  text-transform: capitalize;
  padding: 5px;
}

.text{
  text-transform: capitalize;
  font-weight: bold;
}

.rough{
  border: 1px solid #5fbd86;
}

html button{
  border: none;
  text-transform: capitalize;
}

.container-fluid{
  overflow: hidden;
}

.container{
  position: relative;
}

.alert{
  position: absolute;
  top: 15px;
  transform: translateY(-100%);
  transition: all 0.5s linear;
  opacity: 0;
}