:root{
  --my-font : "Poppins", sans-serif;
}

*{
  font-family: var(--my-font);
}

.inp-filed{
  box-shadow: 0 0 15px 3px rgb(105, 149, 233);
  border: none;
  outline: none;
}

.inp-filed::placeholder{
  text-transform: capitalize;
}

.wr-count-btns button{
  background-color: rgb(23, 23, 209);
  border: none;
  border-radius: 10px;
  color: white;
  text-transform: capitalize;
  padding: 10px;
}

.text{
  text-transform: capitalize;
  font-weight: bold;
}

.rough{
  border: 1px solid black;
}